<%- include('../partials/header') %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/ghosts" class="backButton">Back</a>
    <img class ='ghostImg' src = "https://media.sirusgaming.com/wp-content/uploads/2022/02/Phasmophobia.jpg">
    <div class="ghostInfo">
      <div>
        <div>
          <div>
            <div>
              <label class="ghostText"><span><strong>Name:</strong></span> <%= name %></label>
              <label class="ghostText"><span><strong>Evidence:</strong></span> <%= evidence %></label>
              <label class="ghostText"><span><strong>Strengths:</strong></span> <%= strengths %></label>
              <label class="ghostText"><span><strong>Weaknesses:</strong></span> <%= weakness %></label>
            </div>
			  </div>
		  </div>
	  </div>
  </div>
  </div>
  </body>
</html>

<%- include('../partials/footer') %>