<%- include('../partials/header') %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/maps" class="backButton">Back</a>
      <div class="imgDiv">
       <img class='mapImg' src="<%= image %>" alt="">
      </div> 

   <div class="mapContainer">
        <% rooms.forEach(r => { %>
          <div class="addButtons">
          <form class=action="/maps/subtract/<%= map %>/<%= r.roomName %>" method="POST"> 
            <button class= type="submit">
              -
            </button>
          </form>
          <form action="/maps/add/<%= map %>/<%= r.roomName %>" method="POST"> 
            <button class= type="submit">
              +
            </button>
          </form>
          </div>
          <div class="roomName"> <%= r.roomName %><span class="occurrances"><%= r.occurrances %></span></div>
    <% }) %> 
  </div>

   <div class="container d-flex flex-column flex-md-row justify-content-center mt-5 col-md-5" id="holder">
    <form class="col-md-8" action="/maps/edit/<%= map %>" method="POST">
      <div class="mb-2">
        <label for="rooms" class="form-label"></label>
        <input type="text" class="form-control" id="rooms" name="roomName" placeholder="Room Name"></input>

      <button type="submit" class="btn btn-primary">Add Room</button>
    </div>
  </form>
  </div>

<%- include('../partials/footer') %>